.m-tradingsg_pharmacyDailySales .toggle {
    display:block;
}

.m-tradingsg_pharmacyDailySales .yform {
    background-color: #fff;
    border: 0;
    padding: 0;
}

.m-tradingsg_pharmacyDailySales.v-edit .c50l,
.m-tradingsg_pharmacyDailySales.v-edit .c50r {
    width: 100%;
}

.m-tradingsg_pharmacyDailySales .ym-columnar .ym-fbox-text label,
.m-tradingsg_pharmacyDailySales .ym-columnar .ym-fbox-select label,
.m-tradingsg_pharmacyDailySales #frmEdit .type-text label,
.m-tradingsg_pharmacyDailySales #frmEdit .type-radio label,
.m-tradingsg_pharmacyDailySales #frmEdit .type-select label {
    width: 100%;
}

.ym-columnar.ym-form .form-row-wrapper.row_published .leftCol, 
.columnar.yform .form-row-wrapper.row_published .leftCol{
	width: 25%;
}

.m-tradingsg_pharmacyDailySales #frmEdit .creModdate .type-text label{
    width: 20%;
}

.m-tradingsg_pharmacyDailySales  .linkPortalWrapper div.header,
.m-tradingsg_pharmacyDailySales  .linkPortalWrapper .linkPortalDataWrapper th{
    background-color: #F8F8F8;
}